/* full footer area  */
#footer {
  background: #e0e0e0;
  padding: 20px 0;
  margin-top:20px;
}
/* footer items heading  */
#footer ul {
  padding-left: 0;
  list-style: none;
}
/* footer items  */
#footer ul a {
  color: #999999;
}
#footer .social {
  text-align: left;
}
