/* card starting  */
.card
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* card heading  */
.card-title{
	font-weight: bold;
}
/* card heading close */
/* selected movies count show */
.select
{
	font-weight:bold;
	font-family: "Times New Roman", Times, serif;
	padding: 5rem;
}
/* selected movies count close */
/* atready selected movies error message  */
.error
{
	color:red;
	font-size: 2rem;
}